<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pitanja</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand">Pitanja</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('draw') }}" role="button">Izvlači</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('setup') }}" role="button">Menjaj pitanja</a>
				</li> 
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('setup') }}" role="button">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
	</div>
	<br>
	{% block content %}
	{% endblock %}
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
