{% extends "base.html" %}
{% block content %}
	<div class="container">
		<form method="POST">
			Pod brojevima: <input name="input" type="text" placeholder="0,..."><br>
			<br>
			Od: <input name="start" type="number" placeholder="0" min="1"> do: <input name="end" type="number" placeholder="0" min="1"><br>
			Sa korakom: <input name="iterator" type="number" value="1" min="1"><br>
			<br>
			<button class="btn btn-primary" type="submit">Pošalji</button> <button class="btn btn-secondary" type="reset">Reset</button>
		</form>
	</div>
{% endblock %}
